section {
    background-color: #457B9D;
    border: 1px solid #A8DADC;
    height: 800px;
    width: 800px;
}

div {
    background-color: #F4A261;
    height: 50%;
    width: 50%;
    border: 1px solid indianred;
}
